@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url("./fonts/Proxima Nova Thin.otf") format("opentype"),
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.otf") format("opentype"),
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  src: url("./fonts/Proxima Nova Bold.otf") format("opentype"),
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: 800;
  src: url("./fonts/Proxima Nova Extrabold.otf") format("opentype"),
}
@font-face {
  font-family: "Proxima Nova Alt";
  font-weight: 300;
  src: url("./fonts/Proxima Nova Alt Thin.otf") format("opentype"),
}
@font-face {
  font-family: "Proxima Nova Alt";
  src: url("./fonts/Proxima Nova Alt Light.otf") format("opentype"),
}
@font-face {
  font-family: "Proxima Nova Alt";
  font-weight: bold;
  src: url("./fonts/Proxima Nova Alt Bold.otf") format("opentype"),
}
@font-face {
  font-family: "Proxima Nova Black";
  src: url("./fonts/Proxima Nova Black.otf") format("opentype"),
}
